* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  min-width: 100%;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}

.item-count {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f45440;
  color: #fff;
  position: absolute;
  top: -5px;
  right: -6px;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
}

.wishlist-image {
  object-fit: cover;
  width: 100% !important;
  position: absolute;
  top: 0;
}

.wishlist-close {
  background-color: hsla(0, 0%, 100%, 0.7);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 25px;
  z-index: 1;
  color: #000;
  top: 10px;
}

.outstock {
  color: #cecece;
  text-decoration: none;
  background-color: transparent !important;
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(99, 99, 99, 1) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.cardMb:not(:last-child) {
  margin-bottom: 26px;
}

.text-bold {
  color: #4e4e4e;
}
