* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  min-width: 100%;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}
